version: "2"

networks:
  app-tier:
    driver: bridge

services:
  kafka:
    image: "bitnami/kafka:latest"
    networks:
      - app-tier
    environment:
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    ports:
      - 9092:9092
  app:
    image: "app"
    ports:
      - 8080:8080
    volumes:
      - ./app/src/:/usr/src/app/src
    depends_on:
      - kafka
    networks:
      - app-tier
  email-sender:
    image: "email-sender"
    ports:
      - 8000:8000
    volumes:
      - ./email_sender/src/:/usr/src/app/src
    depends_on:
      - kafka
    networks:
      - app-tier
